<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sanogueralorenzo.posts">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/module_feature_posts">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:name="com.sanogueralorenzo.namingishard.App"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.sanogueralorenzo.posts.presentation.postlist.PostListActivity" />
        <activity android:name="com.sanogueralorenzo.posts.presentation.postdetails.PostDetailsActivity" />
    </application>
</manifest>
